* {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

.res {
    width: 75%;
    margin: auto;
}

.header1 {
    height: auto;
    width: auto;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-color: rgb(82, 82, 82);
}

.menu1 li {
    margin: 10px;
}

.feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin: 4vh;
}

.imgcont {
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.line {
    position: relative;
    width: 25px;
    height: 24px;
    margin: auto;
}

.line img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.line::before {
    width: 150%;
    padding: 1px 0;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background-color: lightgray;
    transform: translateX(-110%);
    z-index: 5;
}

.line::after {
    width: 150%;
    padding: 1px 0;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background-color: lightgray;
    transform: translateX(80%);
    z-index: 5;
}


/*after faq*/

.main-cont {
    margin: 10vh auto;
    width: 60vw;
    background-color: white;
    height: auto;
}

.sec2-cont1 {
    width: 32vw;
    text-align: center;
    margin: 2rem auto;
    font-size: 14px;
}

.btn_cont {
    width: 100%;
}

.btn_cont button {
    width: 28vw;
    padding: 1rem 0;
    margin: 0;
    border: none;
    border-bottom: 5px solid #1D7A8C;
}

.selected {
    background-color: #1D7A8C;
}

.content-area {
    width: 100%;
    height: auto;
}

.image_cont {
    width: 25px;
    height: 25px;
    float: left;
}

.iimmgg {
    object-fit: cover;
}

.textbox {
    float: clear;
}

.faq1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 24px;
    font-weight: bold;
}

.btn-link {
    color: black;
    font-size: 20px;
}

.btn-link:focus,
.btn-link:hover {
    color: black;
    text-decoration: none;
}

.collapse__container {
    width: 100%;
    margin: 0.5rem 0;
}

.main_box {
    text-align: justify;
}

.content_box {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.res {
    width: 75%;
    margin: auto;
}

.crd1 {
    width: 5%;
}

.crd2 {
    width: 95%;
    font-size: 15px;
    font-weight: 600;
}

.txtsize {
    font-size: 14px;
    font-weight: 200;
}

.btn {
    padding: 0;
}

/* get our newsletters */
.get_new_perent{
    display: flex;
}
.get_new_child1{
    flex: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.get_new_child2{
    flex: 80%;
    text-align: center;
}
.get_new_child3{
    flex: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.letter_text{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #353548;
}
.for_email {
  border-radius: 20px;
  border: 1px solid #565656;
  width: 233px;
  height: 40px;
  text-align: left;
  padding-left: 5px;
}
.for_submit{
  border-radius: 20px;
  background-color:#FF7B6D;
  border: none; 
  width: 88px;
  height: 40px;  
  font-family:Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.29;
  letter-spacing: normal;
  text-align: center;
  color: white;
  margin-top: 10px;
}
.sellr_main_div{
  margin-bottom: 54px;
  margin-top: 77px;
}
.fa-chevron-circle-up{
    font-size: 48px;
}

/* footer */
.for_footer{
    background-color: #111;
}
.perent_footer{
    display: flex;
    padding-top: 20px;
}
.first_child{
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_logo{
    width: 120px;
    height: 92px;
}
.secound_child{
    flex: 60%;
}
.footer_ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    padding-top: 34px;
}
.footer_nav{
    letter-spacing: 0px;
    color: #F1F1F1;
    margin: 0px 10px;
}
.third_child{
    flex: 20%;
    text-align: center;
}
.for_insta{
    font-size:20px;
    color: white; 
    transform: translateY(35px); 
}
.for_facebook{
    font-size:20px;
    color: white; 
    transform: translateY(35px); 
    margin-right: 20px;   
}
.hr_4{
    width: 1320px;
    height: 1px;
    background-color: #424242;
    max-width: 100%;
}
.term_con{
    color: #9BA0A3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .fo_nav {
        display: flex;
        flex-direction: column;
        padding-left: 100px;
    }
    .logo {
        padding-top: 40px;
    }
    .ico {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .inst {
        margin-left: 9px;
    }
    .rsp {
        font-size: 10px;
    }
    .res img {
        width: 10vw;
        height: 10vw;
    }
    .h1 {
        font-size: 30px;
    }
    .h4 {
        font-size: 10px;
    }
    .btn_cont button {
        padding: 0.5rem 0;
        border-bottom: 2px solid #1D7A8C;
        font-size: 10px;
    }
    .sec2-cont1 {
        font-size: 10px;
    }
    .crd2 p {
        font-size: 10px;
    }
    .txtsize {
        font-size: 8px;
    }
    .feed1 {
        width: 20px;
        height: 20px;
    }
    .feed2 {
        font-size: 10px;
    }
}
