.container {
    padding: 2rem 0rem;
}

.btnlgn button {
    border-radius: 50%;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 360px;
    }

        .modal-dialog .modal-contentt {
            padding: 1rem;
        }
}

.modal-header .close {
    margin-top: -0.9rem;
    margin-right: -0.9rem;
    padding: 0.5rem 0.5rem;
    opacity:0.5;
}

.marbtn{
    margin-top:8px;
    margin-bottom:15px;
}
.form-title {
    margin: -2rem 0rem 2rem;
}

.btn-round {
    border-radius: 3rem;
}

.delimiter {
    padding: 1rem;
}

.social-buttons .btn {
    margin: 0 0.5rem 1rem;
}

.signup-section {
    padding: 0.3rem 0rem;
}
