@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Navbar Start */

.navbar {
    background-color: #1fb6ff;
    z-index: 1099;
}

    .navbar .container-fluid {
        justify-content: flex-start;
    }

    .navbar .navbar-brand,
    .navbar .navbar-brand:hover {
        font-size: 37.5px;
        color: white;
    }

    .navbar .nav-item .nav-link,
    .navbar .nav-item .nav-link:hover {
        color: white;
    }

        .navbar .nav-item .nav-link img {
            margin-right: 5px;
        }

.navbar-light .navbar-toggler {
    border-color: #ffffff9c;
    padding: 4px 8px;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
}

    .navbar-light .navbar-toggler-icon::before {
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f0c9";
        color: #fff;
        font-size: 31.5px;
    }

/* Navbar End */

.width-205 {
    width: 205px;
    margin-left: 8px;
    margin-right: 8px;
}

.width-215 {
    width: 215px;
    margin-left: 8px;
    margin-right: 8px;
}

.width-140 {
    width: 140px;
    margin-left: 8px;
    margin-right: 8px;
}

.width-135 {
    width: 135px;
    margin-left: 8px;
    margin-right: 8px;
}

.width-110 {
    width: 110px;
    margin-left: 8px;
    margin-right: 8px;
}

.width-120 {
    width: 120px;
    margin-left: 8px;
    margin-right: 8px;
}

.width-127 {
    width: 127px;
    margin-left: 8px;
    margin-right: 8px;
}

.width-152 {
    width: 152px;
    margin-left: 8px;
    margin-right: 8px;
}

.width-84 {
    width: 84px;
    margin-left: 8px;
    margin-right: 8px;
}

.border-0 {
    border: 0px !important;
}


/* SideBar Start */

.sidebar {
    width: 273px;
    position: fixed;
    top: 73px;
    box-shadow: 3px 0px 6px rgb(0 0 0 / 10%);
    background-color: white;
    z-index: 999;
}

    .sidebar .navbar-nav {
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 73px);
        overflow-y: auto;
    }

        .sidebar .navbar-nav .dropdown-menu {
            border-radius: 0px;
        }

        .sidebar .navbar-nav .sub-menu {
            border-bottom: 1px solid #e5e5e5;
            line-height: 30px;
        }

        .sidebar .navbar-nav .nav-item {
            border-bottom: 1px solid #e5e5e5;
            line-height: 30px;
        }

            .sidebar .navbar-nav .nav-item a {
                color: #646464;
            }

        .sidebar .navbar-nav .sub-menu > a {
            color: #646464;
            text-decoration: none;
        }

        .sidebar .navbar-nav .sub-menu.open {
            background-color: #F9F9F9;
        }

        .sidebar .navbar-nav .sub-menu .nav-item {
            border-bottom: 0px !important;
        }

        .sidebar .navbar-nav .sub-menu .arrow-icon {
            float: right;
            margin-right: 10px;
        }

        .sidebar .navbar-nav .sub-menu:not(.open) .arrow-icon::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f054";
        }

        .sidebar .navbar-nav .sub-menu.open .arrow-icon::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f078";
        }

        .sidebar .navbar-nav .sub-menu ul {
            list-style: none;
            padding-left: 0px;
            position: relative;
            top: 10px;
        }

            .sidebar .navbar-nav .sub-menu ul li {
                padding-left: 10px;
            }

        .sidebar .navbar-nav .nav-item a:hover {
            color: #1fb6ff;
        }

        .sidebar .navbar-nav .nav-item a.active {
            color: #1fb6ff;
        }

        .sidebar .navbar-nav .nav-item ul li {
            background-color: #f9f9f9;
        }

        .sidebar .navbar-nav .dropdown-menu {
            position: static;
            padding: 0px;
        }

/* SideBar end */

/* main content start */

.main-content {
    margin-top: 73px;
    margin-left: 273px;
    padding: 20px;
    background-color: #f2f4f5;
    min-height: calc(100vh - 72px - 61px);
}

    .main-content .page-title {
        font-size: 22px;
        color: #646464;
    }

    .main-content .add-btn {
        background-color: #1fb6ff;
        color: #fff;
        padding: 12px;
        font-size: 14px;
        border: none;
        border-radius: 4px;
    }

        .main-content .add-btn img {
            margin-right: 4px;
            margin-bottom: 2px;
        }

    .main-content .user-search-box {
        display: flex;
        /*justify-content: space-around;*/
        flex-wrap: wrap;
        margin-top: 10px;
        padding: 20px 20px 0px 20px;
        background-color: #fff;
        border: 1px solid #e1e1e1;
        margin-bottom: 20px;
    }

        .main-content .user-search-box select,
        .main-content .user-search-box input {
            border-color: #dedddd;
        }


        .main-content .user-search-box .input-element {
            /* width: 220px; */
            height: 46px;
            margin-left: 8px;
            margin-right: 8px;
            margin-bottom: 20px;
        }

        .main-content .user-search-box .button-group {
            height: 46px;
            margin-left: 8px;
            margin-right: 8px;
            margin-bottom: 20px;
        }

            .main-content .user-search-box .button-group .btn + .btn {
                margin-left: 10px;
            }

        .main-content .user-search-box .btn-Search {
            padding: 0px 15px;
            background-color: #1fb6ff;
            color: white;
            height: 46px;
            margin-bottom: 20px;
        }

        .main-content .user-search-box .btn-clear {
            padding: 0px 15px;
            border: 1px solid #dedddd;
            border-radius: 4px;
            height: 46px;
            margin-bottom: 20px;
        }

.footer {
    font-size: 14px;
    color: #a2a6a8;
    margin-left: 273px;
    padding: 20px;
    background-color: #f2f4f5;
}

/* main content end */


/*Input element Start*/

input[type=text],
input[type=date],
select {
    height: 46px;
}

    input[type=text]:focus,
    input[type=date]:focus,
    select:focus,
    textarea:focus {
        border-color: #1fb6ff !important;
        outline: 0 !important;
        box-shadow: none !important;
    }

button {
    outline: 0 !important;
    box-shadow: none !important;
}

/*Input element End*/

.modal{
    z-index: 1199;
}

/* DataTable Start */
.main-content table.dataTable thead .sorting .sort-img {
    content: url(../img/admin-panel/sort.png);
    width: 14px;
    height: 14px;
    margin-left: 5px;
}

.main-content table.dataTable thead .sorting_asc .sort-img {
    content: url(../img/admin-panel/icons8-up-arrow-30.png);
    width: 14px;
    height: 14px;
    margin-left: 5px;
}

.main-content table.dataTable thead .sorting_desc .sort-img {
    content: url(../img/admin-panel/icons8-down-arrow-30.png);
    width: 14px;
    height: 14px;
    margin-left: 5px;
}

.main-content table.dataTable thead .sorting {
    background-image: none !important;
    background-size: 12px;
}

.main-content table {
    border: 1px solid #e1e1e1;
    border-collapse: collapse;
}

    .main-content table tr {
        border: 1px solid transparent !important;
    }

    .main-content table tr {
        height: 60px;
        vertical-align: middle;
    }

    .main-content table thead tr {
        height: 56px;
    }

    .main-content table thead th {
        font-size: 16px;
        color: #646464;
        background-color: #f9f9f9;
        font-weight: bold;
        border-bottom: 1px solid #e1e1e1;
    }

    .main-content table tbody tr td {
        font-size: 16px;
        color: #646464;
        line-height: 26px;
    }

    .main-content table td .dropdown-toggle {
        padding: 3px 6px 3px 13px;
    }

        .main-content table td .dropdown-toggle:focus {
            box-shadow: none;
            background-color: #f4f4f4;
            border-radius: 50%;
        }

        .main-content table td .dropdown-toggle::after {
            border: 0px;
        }

    .main-content table .dropdown ul {
        transform: none !important;
        box-shadow: 0 0 6px 0 rgb(0 0 0 / 21%);
        top: 41px !important;
        right: 38px !important;
        padding: 5px 4px;
        min-width: 120px;
    }

        .main-content table .dropdown ul a {
            padding: 2px 5px;
        }

table .lbl-btn {
    color: #fff;
    padding: 0px 11px;
}

table .lbl-success {
    background-color: #67b644;
}

table .lbl-danger {
    background-color: #ff6b6b;
}

table .lbl-yellow {
    background-color: #F2BB37;
}

table .lbl-lightBlue {
    background-color: #1FB6FF;
}

.main-content table .dropdown ul::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: inherit;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    top: -0.4em;
    right: 16%;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px;
}

table.dataTable tbody td {
    border-bottom: 1px solid #e1e1e1 !important;
}

.dataTables_wrapper .dataTables_info {
    margin-left: 20px;
    margin-top: 11px;
    clear: none !important;
    /* font-size: 14px; */
    color: #646464;
}

.dataTables_wrapper .dataTables_length {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 14px;
    color: #646464;
}

.dataTables_wrapper .dataTables_paginate {
    margin-right: 15px;
}

.dataTables_wrapper .dataTables_paginate {
    margin-top: 10px;
}

.dataTables_wrapper .dataTables_length select {
    height: 40px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
    content: url(../img/admin-panel/polygon-1-copy-5.png);
    padding: 15px 17px;
    border: 1px solid #d6d6d6;
    border-radius: 5px 0px 0px 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #565656;
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 1px solid #e1e1e1;
    position: relative !important;
    margin-left: 0px;
    border-radius: 0px;
    line-height: 1.45;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button {
    top: -16px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    content: url(../img/admin-panel/polygon-1-copy-5.png);
    padding: 15px 17px;
    border: 1px solid #d6d6d6;
    border-radius: 5px 0px 0px 5px;
    transform: rotate(180deg);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.first:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #fff;
    border: 1px solid #1d7a8c;
    background: #fff;
    color: #111 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    border-color: #8bc7d3;
}

table tr td .dropdown ul {
    min-height: fit-content;
}

/* DataTable End */

/* user management page start */

.dataTables_wrapper {
    overflow-x: auto;
    background-color: #fff;
}

#tblUserManagement {
    min-width: 960px;
    width: 100% !important;
}

.main-content #tblUserManagement tr th:nth-child(1),
.main-content #tblUserManagement tr td:nth-child(1),
.main-content #tblUserManagement tr td:nth-child(4),
.main-content #tblUserManagement tr th:nth-child(4),
.main-content #tblUserManagement tr td:nth-child(7),
.main-content #tblUserManagement tr th:nth-child(7) {
    text-align: center;
}

.main-content #tblUserManagement tr th:nth-child(1) {
    min-width: 125px;
}

.main-content #tblUserManagement tr th:nth-child(4) {
    min-width: 135px;
}

.main-content #tblUserManagement tr th:nth-child(6) {
    min-width: 100px;
}


.export-btn {
    padding: 0px 15px;
    background-color: #1fb6ff;
    color: white;
    height: 46px;
    border: 0px;
    border-radius: 5px;
}

/* user management page end */

/* service-requests Page Start */

.bg-grey {
    background-color: #eee;
}

.calender-icon {
    background: transparent url(../img/admin-panel/icon-calendar-blue.png) 9px center no-repeat !important;
    position: relative;
    z-index: 1;
    padding-left: 37px;
}

input[type="date"] {
    position: relative;
    padding-left: 35px;
}

    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
        font-size: 30px;
        background: transparent url(../img/admin-panel/icon-calendar-blue.png) 9px center no-repeat !important;
        left: -25px;
        /* padding-left: 0px !important; */
        position: absolute;
        z-index: 999;
    }

#tblServiceRequests {
    width: 100% !important;
}

    #tblServiceRequests tbody tr td span {
        font-weight: bold;
    }

    #tblServiceRequests tr td .cap-img {
        border: 1px solid #aaaaaa;
        border-radius: 50%;
        margin-right: 5px;
        height: 49px;
    }

.main-content #tblServiceRequests th:nth-child(1),
.main-content #tblServiceRequests td:nth-child(1),
.main-content #tblServiceRequests th:nth-child(5),
.main-content #tblServiceRequests td:nth-child(5) {
    text-align: center;
}

tr td .rating-count {
    position: relative;
    top: -4px;
    font-size: 15px;
}
/* service-requests Page end */

/*Model Start*/

.modal-body {
    position: relative;
}

.modal-content .model-btn-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    display: inline-block;
    z-index: 5;
}

.modal-content .button-lightBlue {
    background-color: #1fb6ff;
    color: #111;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

    .modal-content .button-lightBlue:hover {
        background-color: #05aaea !important;
    }
/*Model end*/

/*select2 Css start*/

.select2-container {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 20px;
}

.select2-selection {
    height: 46px !important;
    border-color: #dedddd !important;
    padding: 0.55rem 2.25rem 0.375rem 0.75rem;
}

.select2-selection__rendered{
    padding: 0px !important;
}

.select2-selection__arrow {
    top: 9px !important;
    right: 6px !important;
}

.select2-dropdown{
    top: 0px;
    left: -8px !important;
}

.select2-dropdown,
select2-search__field {
    border-color: #dedddd;
}
/*select2 Css end*/

@media (max-width: 1400px) {
    .main-content table .dropdown ul {
        right: 16px !important;
    }
}

@media (max-width: 1200px) {
    /* .sidebar{
        display: none;
    } */

    .sidebar .navbar-nav {
        padding-left: 10px;
    }

    .main-content {
        margin-left: 0px;
    }

    .footer {
        margin-left: 0px;
    }

    .main-content table .dropdown ul {
        right: 12px !important;
    }

    .main-content .user-search-box .button-group {
        text-align: center;
    }
}

@media (max-width: 575px) {

    .user-search-box input,
    .user-search-box .input-group,
    .user-search-box select {
        width: 100%;
    }
}

@media (max-width: 440px) {
    .main-content {
        margin-top: 125px;
    }

    .sidebar {
        top: 125px;
    }
}