@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    transition: all 0.3s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-right: 0px !important;
    overflow: auto !important;
}

/* Navbar start*/

.navbar {
    padding-right: 0px !important;
    transition: all 0.3s ease;
}

    .navbar.navbar-bg-color {
        background-color: #525252;
    }

.navbar-brand img {
    height: 130px;
    width: 175px;
}

.navbar.navbar-bg-color .navbar-brand img {
    height: 54px;
    width: 74.69px;
}

.navbar .navbar-nav li {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar .navbar-nav .active {
    border: 1px solid white;
}

.navbar .navbar-nav .rounded-link {
    border: 1px solid white;
    border-radius: 30px;
    padding: 0px 25px;
    margin: 0px 5px;
    transition: all 0.3s ease;
}

    .navbar .navbar-nav .rounded-link:hover {
        color: #006072 !important;
        background-color: #fff;
    }

.navbar .navbar-toggler {
    border: 0px;
}

    .navbar .navbar-toggler i {
        color: white;
        font-size: 30px;
    }

.navbar .navbar-nav li a {
    padding: 0px 15px !important;
    line-height: 40px;
    font-size: 17px;
    color: #ffffff !important;
    border: 1px solid transparent;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.navbar .navbar-nav li.dropdown a:hover {
    border: 1px solid transparent;
}

.navbar .navbar-nav li a:hover {
    border: 1px solid white;
    border-radius: 30px;
}

.navbar .navbar-nav .county-flag {
    width: 25px;
    height: 16px;
}

.navbar .navbar-nav .dropdown-menu {
    background-color: transparent;
    border: none;
    min-width: 0px;
    left: 2px;
    padding: 0px;
}

.navbar .backblack {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 9;
    display: none;
}

.navbar .notification-profile-menu ul {
    padding-left: 0px;
    margin-bottom: 0px;
}

.navbar .notification-profile-menu > ul > li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 13px;
}

.navbar .notification-profile-menu .dropdown .dropdown-toggle::after {
    border: 0px;
    width: 11px;
    height: 6px;
    vertical-align: 0px;
    background-image: url("../img/admin-panel/sp-arrow-down.png");
}

.navbar .notification-profile-menu .notification-dropdown > a span {
    position: absolute;
    background-color: red;
    width: 18px;
    height: 18px;
    font-size: 13.5px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    top: 5px;
    left: 37px;
    color: #fff;
}

.navbar .notification-profile-menu .dropdown .dropdown-menu {
    top: 65px;
    left: -70px;
}

.navbar .notification-profile-menu .notification-dropdown .dropdown-menu {
    top: 65px;
    left: -50px;
}

.navbar .notification-profile-menu .notification-dropdown .dropdown-toggle::after {
    display: none;
}

.navbar .notification-profile-menu .notification-dropdown > a {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding-right: 25px;
}

.navbar .notification-profile-menu .dropdown ul::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: inherit;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    top: -0.4em;
    right: 33%;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.navbar .notification-profile-menu .dropdown.notification-dropdown ul::before {
    right: 47%;
}

.navbar .notification-profile-menu .user-name span {
    font-weight: 600;
}

.navbar .social-links a {
    padding: 6px;
    text-decoration: none !important;
}

    .navbar .social-links a .fb-icon {
        height: 18px;
        width: 20px;
    }

    .navbar .social-links a .insta-icon {
        height: 20px;
        width: 20px;
    }

/* -- Navbar end*/

.max-width-1104 {
    max-width: 1104px;
    margin: auto;
    padding: 0px 46px;
}

.max-width-none {
    max-width: none !important;
}

.max-width {
    max-width: 1300px;
    margin: auto;
    padding: 0px 46px;
}

.max-width-1400 {
    max-width: 1400px;
    margin: auto;
    padding: 0px 46px;
}

.max-width-654 {
    max-width: 654px;
    margin: auto;
    padding: 0px 20px;
}

.max-width-946 {
    max-width: 986px;
    margin: auto;
    padding: 0px 20px;
}

.max-width-1031 {
    max-width: 1031px;
    margin: auto;
    padding: 0px 20px;
}

.max-width-1180 {
    max-width: 1180px;
    margin: auto;
    padding: 0px 20px;
}

.max-width-470 {
    max-width: 470px;
    margin: auto;
    padding: 0px 20px;
}

.max-width-788 {
    max-width: 788px;
    margin: auto;
    padding: 0px 20px;
}

section {
    padding: 40px 0px;
}

    section .title {
        font-size: 50px;
        line-height: 54px;
        color: #4f4f4f;
        font-weight: bold;
    }

    section .star-title {
        color: #4f4f4f;
        font-size: 36px;
    }

        section .star-title::before {
            content: "";
            position: absolute;
            height: 1px;
            width: 166px;
            bottom: -26px;
            left: 50%;
            background-color: #cccccc;
            transform: translateX(-50%);
        }

        section .star-title::after {
            content: "";
            display: block;
            position: absolute;
            height: 25px;
            width: 43px;
            bottom: -37px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 20px;
            background: #fff url(../img/faq/forma-1-copy-5.png) center no-repeat;
            padding: 0px 5px;
        }

.bg-color-pal-grey {
    background-color: #f4f5f8;
}

.bg-color-section {
    background-color: #f6f6f6;
}

.primary {
    color: #1d7a8c;
}

.mt-17 {
    margin-top: 17px;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-37 {
    margin-top: 37px !important;
}

.mt-40 {
    margin-top: 40px;
}

.mt-77 {
    margin-top: 77px !important;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-36 {
    margin-bottom: 36px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-75 {
    margin-bottom: 75px !important;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.border-bottom {
    border-bottom: 1px solid #dcdcdc;
}

.pb-60 {
    padding-bottom: 60px;
}

.pt-68 {
    padding-top: 68px;
}

.p-lr-22 {
    padding: 0px 22px;
}

.p-lr-40 {
    padding: 0px 40px;
}

.card .card-body a {
    font-size: 18px;
    color: #4f4f4f !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.right-0 {
    right: 0;
}

.z-index-minus {
    z-index: -1;
}

.btn-dark-slate-blue {
    background-color: #29626d;
}

.card-box-shadow {
    box-shadow: 0 0 30px 0 #e4ebf0;
}

.min-height-64vh {
    min-height: 64.5vh !important;
}

/*Input element Start*/

input[type="date"] {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-right: 10px;
}

input[type=text],
input[type=date],
input[type=password],
select {
    height: 46px;
}


.form-check-input:checked {
    background-color: #1d798c;
    border-color: #1d798c;
}

input[type=text]:focus,
input[type=checkbox]:focus,
input[type=date]:focus,
input[type=password]:focus,
.form-check-input:focus,
select:focus,
textarea:focus {
    border-color: #1d798c !important;
    outline: 0 !important;
    box-shadow: none !important;
}

button {
    outline: 0 !important;
    box-shadow: none !important;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 30px;
    background: transparent url(../img/book-service/calendar-book-service.png) 9px center no-repeat !important;
    left: -25px;
    /* padding-left: 0px !important; */
    position: absolute;
    z-index: 999;
}

/*Input element End*/

.scroll-up-btn {
    position: fixed;
    text-align: center;
    line-height: 45px;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

    .scroll-up-btn.top-arrow {
        height: 45px;
        width: 45px;
        background: #525252;
        font-size: 20px;
        color: #fff;
        left: 60px;
        bottom: 10px;
        border-radius: 50%;
    }

    .scroll-up-btn.message-box {
        height: 45px;
        width: 45px;
        right: 60px;
        bottom: 10px;
    }

    .scroll-up-btn.show {
        bottom: 100px;
        opacity: 1;
        pointer-events: auto;
    }


section.header-img {
    width: 100%;
    margin-top: 40px;
}

    section.header-img img {
        width: 100%;
    }


.newsletter h4 {
    color: #353548;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
}

.newsletter input {
    width: 233px;
    height: 40px;
    background: #f4f5f8 0% 0% no-repeat padding-box;
    border: 1px solid #565656;
    border-radius: 20px;
    padding: 0px 15px;
}

.newsletter button {
    width: 88px;
    height: 40px;
    background-color: #ff7b6d;
    border-radius: 20px;
    border: 0px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    transition: all 0.3s ease;
}

    .newsletter button:hover {
        background-color: #29626d;
    }


footer {
    background-color: #111111;
}

    footer .footer-max-width {
        max-width: 1400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding: 26px;
        flex-wrap: wrap;
        color: #f1f1f1;
    }

        footer .footer-max-width .nav li a {
            color: #f1f1f1;
            font-size: 14px;
            transition: all 0.3s ease;
        }

            footer .footer-max-width .nav li a:hover {
                color: #006072;
            }

        footer .footer-max-width .logo img {
            width: 120px;
        }

        footer .footer-max-width .socil-icon a {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 3px;
        }

            footer .footer-max-width .socil-icon a:hover {
                background-color: #006072;
            }

    footer .privacy-policy {
        position: fixed;
        text-align: center;
        background-color: #292929;
        color: #f1f1f1;
        padding: 10px;
        bottom: 0;
        width: 100%;
    }

        footer .privacy-policy span {
            color: #6eabef;
        }

        footer .privacy-policy button {
            background: #eed507;
            border-radius: 20px;
            padding: 5px 30px;
        }

    footer .terms-condition {
        max-width: 1348px;
        padding: 27px 0 22px 0;
        border-top: 1px solid #424242;
    }

        footer .terms-condition p {
            font-family: "Roboto", sans-serif;
            color: #9ba0a3;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            padding: 0px 20px;
        }


/* -- Login Model start */

.modal-content {
    margin: auto;
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    color: #646464;
}

    .modal-content.modal-max-width-360px {
        max-width: 360px;
    }

    .modal-content .modal-body {
        padding: 25px;
    }

    .modal-content .model-btn-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px;
        display: inline-block;
        z-index: 5;
    }

    .modal-content .btn-close:focus {
        box-shadow: none;
    }

    .modal-content h3 {
        font-size: 24px;
        margin-bottom: 30px;
        color: #646464;
        font-weight: 600;
    }

    .modal-content .model-icon {
        position: absolute;
        top: 12px;
        right: 12px;
    }


    .modal-content .model-button {
        color: #fff;
        font-weight: 600;
        background: #1d7a8c;
        border-radius: 40px;
        width: 100%;
        outline: 0 !important;
        border: 0px;
        font-size: 18px;
        line-height: 22px;
        padding: 15px 30px;
    }

        .modal-content .model-button:hover {
            background: #146371 !important;
        }

    .modal-content .model-link {
        color: #1d7a8c;
        text-decoration: none !important;
    }

        .modal-content .model-link:hover {
            color: #1890ca;
        }
