@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<section class="User-reset-password mt-40 min-height-64vh Registration-Reset" id="User-reset-password">
    <div class="max-width-1104">
        <div class="text-center position-relative mb-75 mt-40">
            <h2 class="star-title">Reset Password</h2>
        </div>

        @if (ViewBag.Messsage == null)
        {
            <form class="row g-3" asp-controller="Account" asp-action="ResetPassword" method="post" enctype="multipart/form-data">
                <div class="col-sm-12 offset-md-2 col-md-8 mt-0 @( TempData["Message"] == null ? "d-none" : "")">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @TempData["Message"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                <input asp-for="Token" hidden />
                <div class="col-sm-12 offset-md-2 col-md-8">
                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="col-sm-12 offset-md-2 col-md-8">
                    <input asp-for="NewConfirmPassword" type="password" class="form-control" placeholder="New Confirm Password">
                    <span asp-validation-for="NewConfirmPassword" class="text-danger"></span>
                </div>
                <div class="col-12 text-center">
                    <button type="submit" class="resetPage-button">Reset</button>
                </div>
            </form>
        }
        else if (ViewBag.Messsage == "Success")
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="mb-3 text-success">Reset Password Successfully</h2>
                    <p class="mb-40">Awesome. You have successfully reset the password for your account.</p>
                    <div class="col-12 text-center">
                        <span class="d-block">Now click on Login Button for Login</span> <br> <a class="mb-2 resetPage-button text-decoration-none mt-3" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="mb-3 text-danger">Invalid Reset Password Link</h2>
                    <p class="mb-40">@ViewBag.Messsage</p>
                    <a class="resetPage-button text-decoration-none mt-3" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">Generate Reset Link</a>
                </div>
            </div>
        }

    </div>
</section>