@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<body>
    <link href="~/css/About.css" rel="stylesheet" />
    <section>
        <div class="container-fluid" style="background-image: url(/img/hero-banner-img.png); height:50vh; overflow: hidden; background-size: cover;background-position: left;">

        </div>
    </section>
    @Html.Partial("_Loginbtn")
    <div class="container">
        <p class="faq1">A Few words about us</p>
        <div class="imgcont">
            <div class="line">
                <figure><img src="~/img/separator.png" alt=""></figure>
            </div>
        </div>
        <br>
        <div style="text-align: center;">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, explicabo esse. Pariatur nulla officiis aspernatur tenetur deserunt natus, maiores illum magni dicta ea! Voluptates libero omnis odit ipsa! Omnis ducimus eum vel enim deleniti voluptatem,
            expedita, eos voluptas nisi repellat reiciendis culpa tenetur quouuuu neque iure corporis maxime numquam inventore, rem placeat cupiditate accusamus dolor? Facere ducimus ratione sint.Facere ducimus ratione sint. ultriocise.
        </div><br>
        <div style="text-align: center;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quam excepturi recusandae esse fugit sapiente, laborum praesentium velit sed consequatur corrupti ducimus, ab nisi, suscipit consectetur illo architecto a maxime doloremque error ratione vel
            porro tempore. Dolore pariatur laboriosam sequi sapiente dolor blanditiis nostrum perferendis asperiores nesciunt? Maiores unde, odit repellendus eveniet dolorem impedit quas repudiandae enim quae, voluptatum optio perferendis quidem aliquid
            laboriosam, excepturi quod eos quia facilis totam. Asperiores incidunt veritatis velit facere optio neque. Id deserunt dolore assumenda saepe voluptas nam placeat.
        </div>
    </div>
    <div class="container">
        <p class="faq1"> Our Story</p>
        <div class="imgcont">
            <div class="line">
                <figure><img src="~/img/separator.png" alt=""></figure>
            </div>
        </div>
        <br>
        <div style="text-align: center;">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, explicabo esse. Pariatur nulla officiis aspernatur tenetur deserunt natus, maiores illum magni dicta ea! Voluptates libero omnis odit ipsa! Omnis ducimus eum vel enim deleniti voluptatem,
            expedita, eos voluptas nisi repellat reiciendis culpa tenetur quouuuu neque iure corporis maxime numquam inventore, rem placeat cupiditate accusamus dolor? Facere ducimus ratione sint.Facere ducimus ratione sint. ultriocise.
        </div><br>
        <div style="text-align: center;">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, explicabo esse. Pariatur nulla officiis aspernatur tenetur deserunt natus, maiores illum magni dicta ea! Voluptates libero omnis odit ipsa! Omnis ducimus eum vel enim deleniti voluptatem,
            expedita, eos voluptas.
        </div><br>
        <div style="text-align: center;">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, explicabo esse. Pariatur nulla officiis aspernatur tenetur deserunt natus, maiores illum magni dicta ea! Voluptates libero omnis odit ipsa! Omnis ducimus eum vel enim deleniti voluptatem,
            expedita, eos voluptas nisi repellat reiciendis culpa tenetur quouuuu neque iure corporis maxime numquam inventore, rem placeat cupiditate accusamus.
        </div><br>
    </div>



    <!-- get our newsletter -->
    <div class="container-fluid">
        <div class="get_new_perent">
            <div class="get_new_child2">
                <div class="sellr_main_div">
                    <div style="text-align: center;">
                        <p class="letter_text">GET OUR NEWSLETTER</p>
                        <input type="email" placeholder="Your Email" class="for_email">
                        <input type="submit" class="for_submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>