@{
    ViewData["Title"] = "About";
}

<!-- Header Image -->
<section class="header-img mt-37">
    <img src="~/img/about/hero-banner-img.png" alt="">
</section>

<!-- Contact Detail -->
<section class="about-page pt-0" id="about-page">
    <div class="max-width-1031">
        <div class="about-page-content mb-75">
            <div class="text-center position-relative mb-75">
                <h2 class="star-title">A Few words about us</h2>
            </div>
            <p>We are providers of professional home cleaning services, offering hourly based house cleaning options, which mean that you don’t have to fret about getting your house cleaned anymore. We will handle everything for you, so that you can focus on spending your precious time with your family members.</p>
            <p>We have a number of experienced cleaners to help you make cleaning out or shifting your home an easy affair.</p>
        </div>

        <div class="about-page-content">
            <div class="text-center position-relative mb-75">
                <h2 class="star-title">Our Story</h2>
            </div>
            <p>A cleaner is a type of industrial or domestic worker who cleans homes or commercial premises for payment. Cleaners may specialise in cleaning particular things or places, such as window cleaners. Cleaners often work when the people who otherwise occupy the space are not around. They may clean offices at night or houses during the workday.</p>
        </div>
    </div>
</section>

<partial name="_NewsLetter" />