@{
    ViewData["Title"] = "Contact US";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<body>
    <section>
        <link href="~/css/Contact Us.css" rel="stylesheet" />
        <div>
            <img src="~/img/group-16_2.png" alt="" class="responsive">
        </div>

    </section>
    @Html.Partial("_Loginbtn")
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="contact">Contact Us</p>
                    <div class="design">
                        <hr class="hori_line_1">
                        <img src="~/img/separator.png" alt="">
                        <hr class="hori_line_2">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 52px;">
                <div class="col-4 icon">
                    <img src="~/img/forma-1_2.png" alt="" style="margin-bottom: 23px;">
                    <p>111 Lorem ipsum text 100, <br> Lorem ipsum AB</p>
                </div>
                <div class="col-4 icon">
                    <img src="~/img/phone-call.png" alt="" style="margin-bottom: 23px;">
                    <p>+49 (40) 123 56 7890 <br> +49 (40) 987 56 0000</p>
                </div>
                <div class="col-4 icon">
                    <img src="~/img/vector-smart-object.png" alt="" style="margin-bottom: 31px;">
                    <p>info@helperland.com</p>
                </div>
            </div>

            <hr class="hori_line_hr">

            <div class="row">
                <div class="col-12 input_main">
                    <p>Get in touch with us</p>
                </div>
                <div class="col-12" style="text-align: center;">
                    <input type="text" placeholder="First name" class="input_first">
                    <input type="text" placeholder="Last name" class="input_first">
                    <br>
                    <input type="number" placeholder="Moblie number" class="input_first">
                    <input type="email" placeholder="Email address" class="input_first">
                    <br>
                    <select id="" class="input_first_1">
                        <option>Subject-1</option>
                        <option>Subject-2</option>
                        <option>Subject-3</option>
                        <option>Subject-4</option>
                        <option>Subject-5</option>
                        <option>Subject-6</option>
                    </select>
                    <br>
                    <textarea name="" id="" cols="30" rows="10" placeholder="Message" class="input_first_2"></textarea>
                    <br>
                    <input type="submit" value="Submit" class="btn_submit">
                </div>
            </div>
        </div>

        <div style="position: relative; top: 0; left: 0;">
            <img src="~/img/group-16.png" alt="" class="map_img">
            <img src="~/img/pin.png" alt="" class="map_img_2">
        </div>

        <div class="new_sell">
            <div style="text-align: center;">
                <p class="seller_text"><strong>GET OUR NEWSLETTER</strong></p>
                <input type="email" placeholder="YOUR EMAIL" class="email">
                <input type="Submit" class="submit">
            </div>
        </div>
    </section>

</body>