@{
    ViewData["Title"] = "Home";
}

<section class="home p-0" id="home">
    <div class="home-content">
        <div class="home-text">
            <h2>Do not feel like housework?</h2>
            <p>Great! Book now for Helperland and enjoy the benefits</p>
            <ul class="List">
                <li>
                    Certified & insured helper
                </li>
                <li>
                    Easy booking procedure
                </li>
                <li>
                    Friendly customer service
                </li>
                <li>
                    Secure online payment method
                </li>
            </ul>
        </div>
        <div class="text-center button mb-60">
            <a asp-action="BookService" asp-controller="Home">Let's Book a Cleaner</a>
        </div>
        <div class="payment-process">
            <div class="payment-process-box text-center">
                <div class="icon-box">
                    <img src="~/img/home/forma-1-copy.svg" alt="forma-1" class="img-size">
                </div>
                <h6>Enter your postcode</h6>
            </div>
            <div class="arrow icon-box">
                <img src="~/img/home/step-arrow-1.png" alt="arrow">
            </div>
            <div class="payment-process-box text-center">
                <div class="icon-box">
                    <img src="~/img/home/group-22.png" alt="group-22" class="img-size">
                </div>
                <h6>Select your plan</h6>
            </div>
            <div class="arrow icon-box">
                <img src="~/img/home/step-arrow-1.png" alt="arrow-flip" class="rotateImg">
            </div>
            <div class="payment-process-box text-center">
                <div class="icon-box">
                    <img src="~/img/home/forma-1.svg" alt="group-22" class="img-size">
                </div>
                <h6>Pay securely online</h6>
            </div>
            <div class="arrow icon-box">
                <img src="~/img/home/step-arrow-1.png" alt="arrow">
            </div>
            <div class="payment-process-box text-center">
                <div class="icon-box">
                    <img src="~/img/home/forma-2.svg" alt="group-22" class="img-size">
                </div>
                <h6>Enjoy amzing service</h6>
            </div>
        </div>
        <div class="text-center">
            <a href="#helperland">
                <img src="~/img/shape-1.svg" alt="down-arrow" class="down-arrow">
            </a>
        </div>
    </div>
</section>

<!-- Why helperland -->
<section class="helperland" id="helperland">
    <div class="max-width">
        <div class="row justify-content-center text-center">
            <div class="col-12 mb-5">
                <h2 class="title">Convince yourself!</h2>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 padding-lr-10 mb-4">
                <img src="~/img/home/helperland/group-21.png" alt="group-21" class="img-fluid mb-40">
                <h3 class="mb-3 d-flex align-items-center justify-content-center">
                    Friendly & Certified Helpers
                </h3>
                <p>
                    We want you to be completely satisfied with our service and feel comfortable at home. In order to guarantee this, our helpers go through a test procedure. Only when the cleaners meet our high standards, they may call themselves Helper.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 padding-lr-25 mb-4">
                <img src="~/img/home/helperland/group-23.png" alt="group-23" class="img-fluid mb-40">
                <h3 class="mb-3 d-flex align-items-center justify-content-center">
                    Transparent and secure payment
                </h3>
                <p>
                    We have transparent prices, you do not have to scratch money or money on the sideboard Leave it: Pay your helper easily and securely via the online payment method. You will also receive an invoice for each completed cleaning.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4  padding-lr-25 mb-4">
                <img src="~/img/home/helperland/group-24.png" alt="group-24" class="img-fluid mb-40">
                <h3 class="mb-3 d-flex align-items-center justify-content-center">
                    We're here for you
                </h3>
                <p>
                    You have a question or need assistance with the booking process? Our customer service is happy to help and advise you. How you can reach us you will find out when you look under "Contact". We look forward to hearing from you or reading.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- text-blog -->
<section class="text-blog pt-0" id="text-blog">
    <img src="~/img/home/blog-left-bg.png" alt="" class="backgroung-img position-absolute z-index-minus">
    <img src="~/img/home/blog-right-bg.png" alt="" class="backgroung-img position-absolute right-0 z-index-minus">
    <div class="max-width pt-5">
        <div class="row">
            <div class="col-md-12 col-lg-7 d-flex flex-column justify-content-center mb-3">
                <h3 class="fw-bold">We do not know what makes you happy, but ...</h3>
                <p>
                    If it's not dusting off, our friendly helpers will free you from this burden - do not worry anymore about spending valuable time doing housework, but savor life, you're well worth your time with beautiful experiences. Free yourself and enjoy the gained time: Go celebrate, relax, play with your children, meet friends or dare to jump on the bungee.Other leisure ideas and exclusive events can be found in our blog - guaranteed free from dust and cleaning tips!
                </p>
            </div>
            <div class="col-md-12 col-lg-5 d-flex justify-content-center mb-3 img-box">
                <img src="~/img/home/group-36.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row our-blog">
            <div class="col-md-12 text-center mb-5">
                <h2 class="title">Our Blog</h2>
            </div>
            <div class="col-md-12">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
                    <div class="col p-lr-22">
                        <div class="card h-100 card-box-shadow">
                            <img src="~/img/home/group-28.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-0">Lorem ipsum dolor sit amet</h5>
                                <small>January 28, 2019</small>
                                <p class="card-text mt-2">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Reiciendis in saepe fugiat. Magni vero incidunt.
                                </p>
                                <a href="#">
                                    Read the Post <img src="~/img/home/shape-2.svg"
                                                       alt="right arrow">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col p-lr-22">
                        <div class="card h-100 card-box-shadow">
                            <img src="~/img/home/group-29.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-0">Lorem ipsum dolor sit amet</h5>
                                <small>January 28, 2019</small>
                                <p class="card-text mt-2">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Reiciendis in saepe fugiat. Magni vero incidunt.
                                </p>
                                <a href="#">
                                    Read the Post <img src="~/img/home/shape-2.svg"
                                                       alt="right arrow">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col p-lr-22">
                        <div class="card h-100 card-box-shadow">
                            <img src="~/img/home/group-30.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title mb-0">Lorem ipsum dolor sit amet</h5>
                                <small>January 28, 2019</small>
                                <p class="card-text mt-2">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Reiciendis in saepe fugiat. Magni vero incidunt.
                                </p>
                                <a href="#">
                                    Read the Post <img src="~/img/home/shape-2.svg"
                                                       alt="right arrow">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- customer review -->
<section class="customer-review bg-color-pal-grey" id="customer-review">
    <div class="max-width">
        <div class="text-center mb-5 mt-17">
            <h2 class="title">What Our Customers Say</h2>
        </div>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
            <div class="col p-lr-22">
                <div class="card card-box-shadow">
                    <div class="card-body p-4">
                        <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                                <img src="~/img/home/group-31.png" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3 align-self-center">
                                <h5 class="mb-0">Lary Watson</h5>
                                <small>Manchester</small>
                            </div>
                            <div class="flex-shrink-0">
                                <img src="~/img/home/message.svg" alt="...">
                            </div>
                        </div>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
                            ratione placeat a suscipit eligendi provident, ad debitis velit voluptatem quisquam
                            illum.
                        </p>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="#">Read More <img src="~/img/home/shape-2.svg" alt="right arrow"></a>
                    </div>
                </div>
            </div>
            <div class="col p-lr-22">
                <div class="card card-box-shadow">
                    <div class="card-body p-4">
                        <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                                <img src="~/img/home/group-32.png" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3 align-self-center">
                                <h5 class="mb-0">Lary Watson</h5>
                                <small>Manchester</small>
                            </div>
                            <div class="flex-shrink-0">
                                <img src="~/img/home/message.svg" alt="...">
                            </div>
                        </div>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
                            ratione placeat a suscipit eligendi provident, ad debitis velit voluptatem quisquam
                            illum.
                        </p>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="#">Read More <img src="~/img/home/shape-2.svg" alt="right arrow"></a>
                    </div>
                </div>
            </div>
            <div class="col p-lr-22">
                <div class="card card-box-shadow">
                    <div class="card-body p-4">
                        <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                                <img src="~/img/home/group-33.png" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3 align-self-center">
                                <h5 class="mb-0">Lary Watson</h5>
                                <small>Manchester</small>
                            </div>
                            <div class="flex-shrink-0">
                                <img src="~/img/home/message.svg" alt="...">
                            </div>
                        </div>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
                            ratione placeat a suscipit eligendi provident, ad debitis velit voluptatem quisquam
                            illum.
                        </p>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="#">Read More <img src="~/img/home/shape-2.svg" alt="right arrow"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="mt-40"></div>

<partial name="_NewsLetter" />