@{
    ViewData["Title"] = "Prices";
}

<section class="header-img">
    <img src="~/img/prices/group-18.png" alt="">
</section>

<section class="prices pt-0" id="prices">
    <div class="max-width-1180">

        <div class="prices-content border-bottom">
            <div class="text-center position-relative mb-75">
                <h2 class="star-title">Prices</h2>
            </div>

            <div class="card text-dark bg-light">
                <div class="card-header text-center">One Time</div>
                <div class="card-body text-center">
                    <h5 class="card-title">€ 20 <span>/hr</span></h5>
                    <div class="card-text">
                        <ul>
                            <li>Lower prices</li>
                            <li>Easy online & secure payment </li>
                            <li>Easy amendment</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="extra-services">
            <div class="text-center position-relative mb-75 mt-40">
                <h2 class="star-title">Extra Sevices</h2>
            </div>
            <div class="d-flex justify-content-evenly flex-wrap">
                <div class="service-box">
                    <div class="img-box">
                        <img src="~/img/prices/3.png" alt="">
                    </div>
                    <h6 class="heading mb-0">Inside cabinets</h6>
                    <h6 class="time-text">30 minutes</h6>
                </div>
                <div class="service-box">
                    <div class="img-box">
                        <img src="~/img/prices/5.png" alt="">
                    </div>
                    <h6 class="heading mb-0">Inside fridge</h6>
                    <h6 class="time-text">30 minutes</h6>
                </div>
                <div class="service-box">
                    <div class="img-box">
                        <img src="~/img/prices/4.png" alt="">
                    </div>
                    <h6 class="heading mb-0">Inside oven</h6>
                    <h6 class="time-text">30 minutes</h6>
                </div>
                <div class="service-box">
                    <div class="img-box">
                        <img src="~/img/prices/2.png" alt="">
                    </div>
                    <h6 class="heading mb-0">Laundry wash & dry</h6>
                    <h6 class="time-text">30 minutes</h6>
                </div>
                <div class="service-box">
                    <div class="img-box">
                        <img src="~/img/prices/1.png" alt="">
                    </div>
                    <h6 class="heading mb-0">Interior windows</h6>
                    <h6 class="time-text">30 minutes</h6>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- cleaning-service -->
<section class="cleaning-service bg-color-section" id="cleaning-service">
    <div class="m-auto p-lr-40">
        <div class="text-center position-relative mb-75">
            <h2 class="star-title">What we include in cleaning</h2>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="cleaning-service-box">
                <img src="~/img/prices/group-18_3.png" alt="">
                <h5>Bedroom and Living Room</h5>
                <ul>
                    <li>Included Dust all accessible surfaces</li>
                    <li>Included Wipe down all mirrors and glass fixtures</li>
                    <li>Not Included Clean all floor surfaces</li>
                    <li>Included Take out garbage and recycling</li>
                    <li>IncludedTo clean up</li>
                    <li>IncludedMake beds</li>
                </ul>
            </div>
            <div class="cleaning-service-box">
                <img src="~/img/prices/group-18_4.png" alt="">
                <h5>Bathrooms</h5>
                <ul>
                    <li>Included Wash and sanitize the toilet, shower, tub, sink</li>
                    <li>Not Included Dust all accessible surfaces</li>
                    <li>Included Wipe down all mirrors and glass fixtures</li>
                    <li>Not Included Clean all floor surfaces</li>
                    <li>Included Take out garbage and recycling</li>
                </ul>
            </div>
            <div class="cleaning-service-box">
                <img src="~/img/prices/group-18_2.png" alt="">
                <h5>Kitchen</h5>
                <ul>
                    <li>Included Cleaning the sink</li>
                    <li>Included Cleaning the oven (outside)</li>
                    <li>Included Cleaning the work surfaces</li>
                    <li>Included Dust all accessible surfaces</li>
                    <li>Included Clean all floor surfaces</li>
                    <li>Included Take out garbage and recycling</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- prices-why-helperland -->
<section class="prices-why-helperland mt-30">
    <div class="max-width-1180">
        <div class="text-center position-relative mb-75">
            <h2 class="star-title">Why Helperland</h2>
        </div>

        <div class="prices-why-helperland-content mb-75">
            <div class="card text-end">
                <div class="card-body pt-0">
                    <h5 class="card-title">Experienced and vetted professionals</h5>
                    <p class="card-text mb-40 ms-auto">dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</p>
                    <h5 class="card-title">Dedicated customer service</h5>
                    <p class="card-text ms-auto">to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information. you need.</p>
                </div>
            </div>
            <div class="img-box">
                <img src="~/img/prices/the-best-img-1.png" alt="">
            </div>
            <div class="card">
                <div class="card-body pt-0">
                    <h5 class="card-title">Every cleaning is insured</h5>
                    <p class="card-text mb-40">and seek to provide exceptional service and engage in proactive behavior. We‘d be happy to clean your homes.</p>
                    <h5 class="card-title">Secure online payment</h5>
                    <p class="card-text">Payment is processed securely online. Customers pay safely online and manage the booking.</p>
                </div>
            </div>
        </div>

    </div>
</section>

<partial name="_NewsLetter" />