@{
    ViewData["Title"] = "Sign Up";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@model Register;
<body>
    @Html.Partial("_Loginbtn")
    <link href="~/css/SignUP.css" rel="stylesheet" />
    <link href="~/css/About.css" rel="stylesheet" />
    <link href="~/css/Service Provider.css" rel="stylesheet" />
    <div class="frmcont1 container">
        <div class="container">
            <p class="faq2">Create an account</p>
            <div class="imgcont">
                <div class="line">
                    <figure><img src="~/img/separator.png" alt=""></figure>
                </div>
                <br>
            </div>
        </div>

        <form method="post" asp-action="SignUP">
            <div class="frm">
                <div class="frm1">
                    <input type="text" asp-for="FirstName" placeholder="First name">
                    <span class="text-danger" asp-validation-for="FirstName"></span>
                    <input type="text" asp-for="LastName" placeholder="Last name">
                    <span class="text-danger" asp-validation-for="LastName"></span>
                </div>
                <div class="frm1">
                    <input type="email" asp-for="Email" placeholder="Email address">
                    <span class="text-danger" asp-validation-for="Email"></span>
                    <div class="phn1 pc1"><input list="code" name="code" value="+46"> <input type="tel" class="pc2" asp-for="PhoneNumber" placeholder="Phone number"></div>
                    <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                </div>
                <div class="frm1">
                    <input type="password" asp-for="PassWord" placeholder="Password">
                    <span class="text-danger" asp-validation-for="PassWord"></span>
                    <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password">
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>
            <div class="div2 div3">
                <div class="button">
                    <button type="submit" class="btn1">Register</button><br><br>
                    <p>Already registered? <a data-dismiss="modal" data-toggle="modal" data-target="#loginModal" style="cursor: pointer; text-decoration: underline; color: blue;">Login now</a></p>
                </div>
            </div>
        </form>
    </div>
</body>