@model Login
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrp link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- for text -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- css file -->
    <link href="~/css/Login.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" id="login-box">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-title text-center">
                        <h4>Login to your account</h4>
                    </div>
                    <div class="d-flex flex-column text-center">
                        <form method="post" asp-controller="Home" asp-action="Login">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email1" asp-for="Email" placeholder="Email">
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password1" asp-for="Password" placeholder="Password">
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group text-left">
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" asp-for="RememberMe">
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </div>
                            <div class="btnlgn">
                                <button type="submit" class="btn btn-info btn-block btn-round rounded-pill">Login</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="text-center">
                    <a class="setPointer forgotLink" id="forgot-link" data-dismiss="modal" data-toggle="modal" data-target="#forgotModal" style="cursor: pointer; text-decoration: underline; color: blue;">Forgot password?</a>
                </div>
                <div class="text-center marbtn">
                    Don't have an account?
                    <a class="register-link" asp-controller="Home" asp-action="SignUP" style="cursor: pointer;">Create an account</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="forgotModal" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" id="forgot-box">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-title text-center">
                        <h4>Forgot Password</h4>
                    </div>
                    <div class="d-flex flex-column text-center">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email1" placeholder="Email">
                            </div>
                            <div class="btnlgn">
                                <button type="submit" class="btn btn-info btn-block btn-round rounded-pill">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center marbtn">
                    <a class="setPointer forgotLink" id="login-link" data-dismiss="modal" data-toggle="modal" data-target="#loginModal" style="cursor: pointer; text-decoration: underline; color: blue;">Login now</a>
                </div>
            </div>
        </div>
    </div>

   
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
