<section class="pt-0 @( ViewBag.page == "HomePage" ? "bg-color-pal-grey" : "")">
    <div class="newsletter">
        <div class="text-center mb-4">
            <h4>GET OUR NEWSLETTER</h4>
        </div>
        <div class="text-center">
            <input type="text" name="email" placeholder="YOUR EMAIL" class="mb-3">
            <button type="submit" class="ms-2">Submit</button>
        </div>
    </div>
</section>