<li class="nav-item">
    <a asp-controller="ServiceProvider" asp-action="NewServiceRequests" class="nav-link">New Service Requests</a>
</li>
<li class="nav-item">
    <a asp-controller="ServiceProvider" asp-action="UpcomingService" class="nav-link">Upcoming Services</a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">Service Schedule</a>
</li>
<li class="nav-item">
    <a asp-controller="ServiceProvider" asp-action="ServiceHistory" class="nav-link">Service History</a>
</li>
<li class="nav-item">
    <a asp-controller="ServiceProvider" asp-action="MyRatings" class="nav-link">My Ratings</a>
</li>
<li class="nav-item">
    <a asp-controller="ServiceProvider" asp-action="BlockCustomer" class="nav-link">Block Customer</a>
</li>