@{
    ViewData["Title"] = "New Service Requests";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="form-check mb-3">
    <input class="form-check-input" type="checkbox" value="" id="chkWorkingWithPet" checked>
    <label class="form-check-label" for="chkWorkingWithPet">
        Include Pet at Home
    </label>
</div>
<div class="div-table">
    <table class="table card-view-small-screen" id="tblNewServiceRequests">
        <thead>
            <tr>
                <td>Service Id <img class="sort-img" alt=""> </td>
                <td>Service Date <img class="sort-img" alt=""> </td>
                <td>Customer details <img class="sort-img" alt=""> </td>
                <td>Payment <img class="sort-img" alt=""></td>
                <td>Time conflict</td>
                <td>Action</td>
            </tr>
        </thead>
    </table>
</div>

@section UserLayoutScripts{
    <script type="text/javascript">
        var table;

        $(document).ready(function () {

            table = $('#tblNewServiceRequests').DataTable({
                paging: true,
                pagingType: "full_numbers",
                processing: true,
                serverSide: true,
                filter: true,
                ordering: true,
                searching: false,
                info: true,
                ajax: {
                    url: "/ServiceProvider/GetNewServiceRequestsList",
                    type: "POST",
                    datatype: "json",
                    dataSrc: 'data',
                    "data": function (d) {
                        d.includePetatHome = $("#chkWorkingWithPet").is(':checked');
                    }
                },
                oLanguage: {
                    sInfo: "Total Records: _TOTAL_",
                },
                columnDefs: [
                    { "orderable": false, "targets": 4 },
                    { "orderable": false, "targets": 5 }
                ],
                columns: [
                    {
                        data: 'serviceRequestId',
                        name: 'ServiceRequestId',
                    },
                    {
                        name: 'ServiceDateTime',
                        render: function (data, type, row) {
                            console.log(row);
                            return "<img src='../img/admin-panel/calendar2.png' class='me-1' alt='calenderIcon'><span> " +
                                ServiceStartDate(row.serviceStartDate) + "</span ><br> " +
                                "<img src='../img/admin-panel/layer-14.png' class='me-1' alt='clockIcon'>" +
                                ServiceTime(row.serviceStartDate, 0) + " - " +
                                ServiceTime(row.serviceStartDate, row.serviceHours);
                        }
                    },
                    {
                        name: 'CustomerName',
                        render: function (data, type, row) {
                            return "<div class='align-items-center d-flex'><img src='../img/admin-panel/layer-15.png' class='me-2' /><div>" +
                                row.user.firstName + " " + row.user.lastName + "<br>" +
                                row.serviceRequestAddresses[0].addressLine1 + " " + row.serviceRequestAddresses[0].addressLine2 + "<br>" +
                                row.serviceRequestAddresses[0].postalCode + " " + row.serviceRequestAddresses[0].city + "</div></div>";
                        }
                    },
                    {
                        name: 'TotalCost',
                        render: function (data, type, row) {
                            return row.totalCost + "$";
                        }
                    },
                    {
                        name: 'TimeConflict',
                        render: function (data, type, row) {
                            return "";
                        }
                    },
                    {
                        render: function (data, type, row) {
                            return "<button class='btn rounded-pill button-primary p-1 fs-14 pe-2 ps-2' onclick='AcceptServiceRequest(" + row.serviceRequestId + ", \"" + row.recordVersion + "\")' >Accept</button>";
                        }
                    }
                ],
                dom: '<"top">rt<"bottom"lip><"clear">',
                responsive: true,
                order: [[0, "desc"]]
            });

            //click on row column
            $('#tblNewServiceRequests tbody').on('click', 'td', function () {

                if ($(this).index() == 4 || $(this).index() == 5) { // prevent click on 4th column
                    return;
                }
                
                var rowData = table.row(this).data();

                $('#preloader').removeClass("d-none");

                $.ajax({
                    url: '/ServiceProvider/GetServiceRequestWithCustomerDetails',
                    type: 'post',
                    dataType: 'json',
                    data: { "serviceRequestId": rowData.serviceRequestId },
                    success: function (resp) {

                        $('#preloader').addClass("d-none");
                        
                        $("#lblSpServiceRequestDateTime").html("<b>" + ServiceStartDate(resp.data.serviceStartDate) + "</b> " +
                            "<b>" + ServiceTime(resp.data.serviceStartDate, 0) + "-" +
                            ServiceTime(resp.data.serviceStartDate, resp.data.serviceHours) + "</b>");
                        $("#lblSpDuration").text(resp.data.serviceHours);
                        $("#lblSpServiceRequestId").text(resp.data.serviceRequestId);


                        $("#lblSpExtraServices").text(resp.extraServiceRequest);
                        $("#lblSpTotalAmount").html("<b>" + resp.data.totalCost + " $</b>");

                        $("#lblSpCustomerName").text(resp.data.user.firstName + " " + resp.data.user.lastName);

                        var serviceAddress = resp.data.serviceRequestAddresses[0];

                        $("#lblSpServiceAddress").text(serviceAddress.addressLine1 + " " + serviceAddress.addressLine2 + ", " + serviceAddress.postalCode + " " + serviceAddress.city)
                        $("#lblSpPhone").text(serviceAddress.mobile);   
                        $("#lblSpEmail").text(resp.data.user.email);

                        $("#lblSpComments").text(resp.data.comments);

                        if (resp.data.hasPets == false) {
                            $("#lblSpHasPet").html("<img src='../img/admin-panel/not-included.png'/> I don't have pets at home");
                        }
                        else {
                            $("#lblSpHasPet ").html("<img src='../img/admin-panel/included.png'/> I have pets at home");
                        }

                        var divBottomBtnHtmlContent = "<hr>";

                        divBottomBtnHtmlContent = divBottomBtnHtmlContent + "<button class='btn rounded-pill button-secondary pe-3 ps-3 p-2 fs-14 pe-2 ps-2'" +
                            " onclick='AcceptServiceRequest(" + resp.data.serviceRequestId + ", \"" + rowData.recordVersion + "\")' > <img src='../img/admin-panel/tick.png' class='me-1' /> Accept</button>";

                        $("#divBottomBtn").html(divBottomBtnHtmlContent);

                        $('#SpPanelServiceDetailModel').modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                        $('#SpPanelServiceDetailModel').modal('show');
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });

        });

        $('#chkWorkingWithPet').change(function () {

            $('#tblNewServiceRequests').DataTable().ajax.reload();

        });

        function AcceptServiceRequest(serviceRequestId, recordVersion) {

            var serviceRequest = {};

            serviceRequest.serviceRequestId = serviceRequestId;
            serviceRequest.recordVersion = recordVersion;

            $('#preloader').removeClass("d-none");

            $.ajax({
                url: '/ServiceProvider/AcceptServiceRequest',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(serviceRequest),
                success: function (resp) {

                    $('#preloader').addClass("d-none");

                    if (resp.status == "ok") {
                        Swal.fire({
                            icon: 'success',
                            title: 'Service Request Accepeted',
                            text: 'You have successfully accept Service Request : ' + serviceRequestId,
                            allowOutsideClick: false,
                            allowEscapeKey: false
                        })
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Service Request Error',
                            text: resp.errorMessage,
                            allowOutsideClick: false,
                            allowEscapeKey: false
                        })
                    }

                    $('#tblNewServiceRequests').DataTable().ajax.reload();
                },
                error: function (err) {
                    console.log(err);
                }
            });

        }
    </script>
}